.table-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 120vh;
    width: 90vw;
}

.table-background {
    background: linear-gradient(45deg,rgb(76, 77, 73), rgb(39, 39, 39));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90vw;
}

.table-instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 90vw;
}


.table-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
}


.row-chairs {
    height: 33%;
    display: flex;
    flex-direction: row;
}

.mid-row {
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.row-block {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space {
    width: 15%;
}


.mid-block {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-table {
    height: 85%;
    width: 55%;
    background: radial-gradient(#572863, #5e002f);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: outset;
}


.chair {
    height: 100%;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flagContainer {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag {
    height: 90% !important;
    width: 80%;
    box-shadow: 0 5px #2c2c2c;
}


.nameContainer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: "Helvetica, Arial";
    font-size: 26px;
    font-weight: bold;
    color: white;
}


.rateContainer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: top;
}

.rating {
    position: relative;
    width: 10em;
    height: 80%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #dad434;
}

.rating__star {
    font-size: 18px;
    cursor: pointer;
    color: #dad434;
    transition: filter linear .3s;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-text-container {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext-container {
    width: 90%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-text {
    font-family: "Georgia";
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.subtext {
    font-family: "Noto Serif", "Times New Roman";
    font-size: 20px;
    color: white;
    position: relative;
    top: -0.5rem;
}


.rating-room {
    background: linear-gradient(45deg,rgb(76, 77, 73), rgb(39, 39, 39)) fixed;
    height: 50vh;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.questionSection {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratingSection {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.questionContainer {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ratingsContainer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
}


.chairContainer {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    color: black;
    font-size: 22px; 
}


.instructionsSection {
    background: linear-gradient(45deg,rgb(76, 77, 73), rgb(39, 39, 39)) fixed;
    height: 60vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.instructionsContainer {
    height: 85%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.instructions {
    top: 0rem;
}

.example {
    font-size: 36px;
    cursor: pointer;
    color: #dad434;
    transition: filter linear .3s;
    width: 25%;
    height: 17%;
    top: 1rem;
}

.space_instructions {
    height: 5%;
}

.box {
    text-align: center;
}